sidconv/sid_conv
sidconv/sid_dump
sidbasicSP/ay_da_opt
sidbasicSP/ym_da_opt
sidbasicSP/c64conv
sidbasicSP/tapeenc
sidbasicSP/dactable.s
sidbasicSP/dactableYM.s
sidbasicSP/sidbintSP_tap.s
sidbasicSP/sidbintSP_tzx.s
sidbasicSP/sidc64.scr
sidbasicSP/*.bin
sidbasicSP/*.lst
sidbasicSP/*.out
sidbasicSP/*.raw
sidbasicSP/*.tap
sidbasicSP/*.txt
sidbasicSP/*.tzx
